.body {
    box-sizing: border-box;
}

.header {
    background-color: white;
    color: black;
    padding: 92px 24px 96px 24px;
    display: flex;
}

.menu {
    display: flex;
    gap: 13px;
    align-items: center;
    margin: 44px auto 39px 26.52px;
}

.menu-text {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.52px;
    text-decoration: none;
}

.menu-text-underlined {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.list-marker {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    border: 1px solid #000000;
}

.header-logo {
    margin: 0 184px 2px 36px;
    width: 148px;
    align-items: center;
}

.contacts {
    max-width: 222px;
    display: flex;
    flex-direction: column;
    margin: 5px 25.48px 2px auto;
}

.jamborton {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url('/images/cover.jpg');
    background-size: cover;
    background-color: #000000 0.6;
}

.jamborton-title {
    margin: 165px 50px 135px 50px;
}

.jamborton-title-text {
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.far-letter {
    padding-left: 0px;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.jamborton-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 51px;
}

.jamborton-subline {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 32px;
    margin: auto;
}

.jamborton-button {
    margin: auto;
    background-color: transparent;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    color: white;
    border: 1px solid white;
    padding: 12px 32px;
    text-decoration: none;
}